{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}
{% block title %} {{category.name}} {% endblock %}
{% block page_title %} {{category.name}}{% endblock %}

{% block page_description %}
    <div style="padding-left: 12px;">
        {% if active_recommendations_category %}
            <div class="alert alert-info" role="alert">
                <h4 class="alert-heading">Problemas recomendados activos</h4>
                <p>Tiempo restante: <strong id="countdown-timer"></strong></p>
                <ul>
                    {% for arc in active_recommendations_category %}
                    <li>
                        <a href="https://codeforces.com/problemset/problem/{{ arc.problem.contest }}/{{ arc.problem.index }}" target="_blank">
                            {{ arc.problem.contest }}{{ arc.problem.index }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                <hr>
                <p class="mb-0">
                    ¡Recuerda que cuentas con tiempo limitado para intentar resolver los problemas!
                </p>
            </div>
        {% else %}
            {% if active_recommendations %}
                <div class="alert alert-warning" role="alert">
                    <h4 class="alert-heading">No es posible entrenar esta categoría por el momento</h4>
                    <p class="mb-0">
                        Tienes problemas recomendados activos en otras categorías. Vuelve cuando hayas terminado con ellos.
                    </p>
                </div>
            {% else %}
                {% if user_level %}
                    <!-- Recommendation Modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirm_recommendation_modal">
                        Solicitar problema para entrenar
                    </button>
                {% else %}
                    <!-- Diagnosis Modal -->
                    <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#diagnosis_modal">
                        Realizar diagnóstico
                    </button>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    <!-- Problem recommendation modal -->
    <div class="modal fade" style="color: #000000" id="confirm_recommendation_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="confirm_recommendation_modal_label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirm_recommendation_modal_label">Confirmación de solicitud de problema</h5>
                <button type="button" id="confirm-recommendation-modal-btn-close" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <h6>
                    ¿Estás seguro de solicitar un nuevo problema para entrenar en la categoría {{ category.name }}?
                </h6>
                <p>
                    Una vez generada la recomendación de un problema tendrás solo <strong>2 horas</strong> para lograr resolverlo
                    , por lo que se te recomienda que solo solicites problemas cuando tengas el tiempo disponible para practicar.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" id="confirm-recommendation-modal-btn-cancel" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <form method="post" action="{% url 'training:request_recommendation' category_id=category.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary" id="recommendation-button">Confirmar</button>
                </form>
            </div>
            </div>
        </div>
        <div class="spinner-container">
            <div id="loading-spinner" class="spinner">
                <img src="{% static 'images/spinner.gif' %}" alt="Cargando...">
            </div>
            <div id="loading-message" class="loading-message">Generando recomendación de problema en base a tu nivel actual</div>
        </div>
    </div>

    <!-- Diagnosis modal -->
    <div class="modal fade" style="color: #000000" id="diagnosis_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="diagnosis_modal_label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="diagnosis_modal_label">Diagnósito en la cateogoría</h5>
                <button type="button" id="diagnosis-modal-btn-close" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <h6>
                    ¿Estás seguro de iniciar el diagnóstico de la categoría {{ category.name }}?
                </h6>
                <p>
                    Una vez obtenidos los problemas de diagnóstico tendrás <strong>5 horas</strong> para lograr resolverlos
                    , por lo que se te recomienda que solo inicies cuando tengas el tiempo disponible para practicar.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" id="diagnosis-modal-btn-cancel" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <form method="post" action="{% url 'training:request_diagnosis' category_id=category.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary" id="diagnosis-button">Confirmar</button>
                </form>
            </div>
            </div>
        </div>
        <div class="spinner-container">
            <div id="loading-spinner-diagnosis" class="spinner">
                <img src="{% static 'images/spinner.gif' %}" alt="Cargando...">
            </div>
            <div id="loading-message-diagnosis" class="loading-message">Generando recomendaciones de problemas en base a tu nivel actual</div>
        </div>
    </div>

    <!-- Level progress chart -->
    <h3>Progreso de nivel</h3>
    {{ chart|safe }}

    <br>

    <!-- Recommendations table -->
    <div>
        <h3>Recomendaciones</h3>
        <table class="table table-bordered table-dark">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Problema</th>
                    <th scope="col">Dificultad</th>
                    <th scope="col">Fecha recomendado</th>
                    <th scope="col">Fecha de resultado</th>
                    <th scope="col">Nivel obtenido</th>
                    <th scope="col">Veredicto</th>
                </tr>
            </thead>
            <tbody>
                {% for r in recommendations %}
                    <tr>
                        <th scope="row">
                            {{ r.id }}
                        </th>
                        <td>
                            <a href="https://codeforces.com/problemset/problem/{{ r.problem.contest }}/{{ r.problem.index }}" target="_blank">
                                {{ r.problem.contest }}{{ r.problem.index }}
                            </a>
                        </td>
                        <td>
                            {{ r.problem.difficulty|denormalize_difficulty }}
                        </td>
                        <td>
                            {{ r.created_at }}
                        </td>
                        <td>
                            {% if r.result_date %}
                                {{ r.result_date }}
                            {% else %}
                                <span class="badge bg-warning">Pendiente</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if r.result_date %}
                                {{ r.level_after|floatformat:2 }}
                            {% else %}
                                <span class="badge bg-warning">Pendiente</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if r.result_date %}
                                {% if r.verdict %}
                                    <span class="badge bg-success">Problema resuelto</span>
                                {% else %}
                                    <span class="badge bg-danger">Problema no resuelto</span>
                                {% endif %}
                            {% else %}
                                <span class="badge bg-warning">Pendiente</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="pagination">
            <span class="step-links">
                {% if recommendations.has_previous %}
                    <a href="?page=1">&laquo; primera</a>
                    <a href="?page={{ recommendations.previous_page_number }}">anterior</a>
                {% endif %}
        
                <span class="current">
                    Página {{ recommendations.number }} de {{ recommendations.paginator.num_pages }}.
                </span>
        
                {% if recommendations.has_next %}
                    <a href="?page={{ recommendations.next_page_number }}">siguiente</a>
                    <a href="?page={{ recommendations.paginator.num_pages }}">última &raquo;</a>
                {% endif %}
            </span>
        </div>

    </div>
{% endblock %}
{% block script %}
    <script>
        // Recommendation spinner
        document.getElementById('recommendation-button').addEventListener('click', function() {
            document.getElementById('loading-spinner').style.display = 'block';
            document.getElementById('loading-message').style.display = 'block';
            document.getElementById("confirm-recommendation-modal-btn-close").style.visibility = 'hidden';
            document.getElementById("confirm-recommendation-modal-btn-cancel").style.visibility = 'hidden';
            document.getElementById("recommendation-button").style.visibility = 'hidden';
        });
        document.getElementById('diagnosis-button').addEventListener('click', function() {
            document.getElementById('loading-spinner-diagnosis').style.display = 'block';
            document.getElementById('loading-message-diagnosis').style.display = 'block';
            document.getElementById("diagnosis-modal-btn-close").style.visibility = 'hidden';
            document.getElementById("diagnosis-modal-btn-cancel").style.visibility = 'hidden';
            document.getElementById("diagnosis-button").style.visibility = 'hidden';
        });

        // Function to update the countdown timer
        function updateCountdownTimer(targetDate) {
            const now = new Date();
            const timeDifference = targetDate - now;

            if (timeDifference > 0) {
                const hours = Math.floor((timeDifference % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                const minutes = Math.floor((timeDifference % (1000 * 60 * 60)) / (1000 * 60));
                const seconds = Math.floor((timeDifference % (1000 * 60)) / 1000);

                document.getElementById('countdown-timer').innerHTML = hours + 'h ' + minutes + 'm ' + seconds + 's';
            } else {
                // Reload the page when the countdown timer reaches zero
                location.reload(true);
            }
        }

        // Function to initialize the countdown timer
        function initializeCountdownTimer(targetDate) {
            updateCountdownTimer(targetDate);
            setInterval(function () {
                updateCountdownTimer(targetDate);
            }, 1000);
        }

        {% if countdown_target_date %}
            const targetDate = new Date('{{ countdown_target_date|date:"Y-m-dTH:i:s" }}'); 
            initializeCountdownTimer(targetDate);
        {% endif %}
    </script>
{% endblock %}